html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.country-heading {
  text-align: center;
}
p,
ul {
  font-size: 2rem;
}
ul {
  list-style: initial !important;
}

.result {
  border: 2px solid #333333;
}
